RABBITMQ_USER=admin
RABBITMQ_PASS=admin123

INFLUXDB_USER=admin
INFLUXDB_PASS=admin12345
INFLUXDB_ORG=signal-catcher
INFLUXDB_BUCKET=events
INFLUXDB_TOKEN=my-super-secret-influx-token

MINIO_USER=minioadmin
MINIO_PASS=minioadmin123
MINIO_BUCKET=raw-events

GRAFANA_USER=admin
GRAFANA_PASS=admin123
